/*Configuraciones generales*/
*
{
	box-sizing: border-box;
	outline-color: #2196F3;
}

::selection
{
	background-color: #BBDEFB;
}

body
{
	margin: 0;
	min-width: 340px;
	min-height: 100vh;
	font-family: "Ubuntu", Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #263238;

	display: flex;
	flex-direction: column;
}

img
{
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}

h1, h2, h3, h4, h5, h6, p
{
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6
{
	color: #2196F3;
}

h2, h3
{
	margin-bottom: 6px;
}

h2
{
	text-align: center;
}

p+p
{
	margin-top: 3px;
}

a
{
	text-decoration: none;
	color: #2196F3;
	transition: all .3s linear;
}
	a:hover, a:active, a:focus
	{
		color: #FFB74D;
	}


.boton
{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	outline: none;
	border: none;
	border-radius: 3px;
	padding: 10px;
	background-color: #2196F3;
	font-family: inherit;
	color: #ECEFF1;
	transition: all .3s cubic-bezier(.25,.8,.25,1);

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
	.boton:hover, .boton:active, .boton:focus
	{
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		background-color: #FFB74D;
		color: inherit;
	}

	.peligro
	{
		background-color: #D50000;
	}
		.peligro:hover, .peligro:active, .peligro:focus
		{
			background-color: #FF5252;
		}


.material-icons
{
	margin-right: 3px;
	font-size: 1.5em;
	color: inherit;
}

hr
{
	margin: 10px auto;
	border: none;
	width: 84%;
	height: 1px;
	background: #2196F3;
	display:block;
}

.oculto
{
	display: none !important;
}

/*Destacar texto*/
.resaltado
{
	color: #2196F3;
}

.negrita
{
	font-weight: bold;
}

.usu
{
	color: #2196F3;
	font-weight: bold;
}

.texto-grande
{
	font-size: 2em;
}

.color-0
{
	color: #FFAACC;
}

.color-1
{
	color: #2193F3;
}

.color-2
{
	color: #FFC107;
}

.color-3
{
	color: #8BC34A;
}

.color-4
{
	color: #009688;
}

.color-5
{
	color: #F44336;
}

/*Mensajes emergentes*/
.fondo-mensaje
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(38,50,56,.7);
	z-index: 7;
	transition: all .5s linear;
}

.contenedor-mensaje
{
	position: fixed;
	top: 6em;
	left: 50%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	width: 20em;
	padding: 1em;
	background-color: #ECEFF1;
	transform: translateX(-50%);
	text-align: center;
	transition: all .5s linear;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

	.contenedor-mensaje>a
	{
		margin-top: 10px;
	}

/*Estructura general*/
/*Cabecera*/
header
{
	position: fixed;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	width: 100%;
	max-height: 84px;
	padding: 10px;
	background-color: #455A64;
	color: #ECEFF1;
	overflow: hidden;
	z-index: 6;
	transition: max-height .3s linear;
}

	header a
	{
		color: inherit;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#burger-ckb:checked+header
	{
		max-height: 30em;
	}

	header>div:first-of-type
	{
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#burger-ckb
	{
		display: none;
	}

		label[for="burger-ckb"]
		{
			margin-right: 10px;
			cursor: pointer;
			transition: color .3s linear;
		}

			label[for="burger-ckb"]>i
			{
				transition: all .15s linear;
			}
				label[for="burger-ckb"]>i:hover
				{
					color: #FFB74D;
				}

			#burger-ckb:checked+header label[for="burger-ckb"] i
			{
				transform: rotate(180deg);
			}

			#burger-ckb:not(:checked)+header label[for="burger-ckb"] i
			{
				
			}

	#logo-container
	{
		display: flex;
		flex-direction: row;
	}

		#logo-container>img
		{
			margin-right: 10px;
			width: 64px;
			height: 64px;
			cursor: pointer;
		}

		#logo-container>div
		{
			display: flex;
			flex-direction: column;
		}


	#login-container
	{
		margin-top: 10px;
	}

		#login-container>p
		{
			text-align: center;
		}


/*Contenido principal*/
main
{
	margin: 0 auto;
	width: 100%;
	padding-top: 84px;
	background-color: #B0BEC5;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
	
	/* Zonas separadas */
	main section
	{
		width: 100%;
		padding: 6px;
		background-color: #ECEFF1;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}

			main section+section
			{
				margin-top: 20px;
			}

		main section>h2~p
		{
			text-align: center;
		}

		/* Tarjetas */
		main article,
		.tarjeta
		{
			margin: 6px 0;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			padding: 10px;
			background-color: #FAFAFA;
			transition: all .3s cubic-bezier(.25,.8,.25,1);

			display: flex;
			flex-direction: column;
		}
			main article:hover,
			main article:focus,
			.tarjeta:hover,
			.tarjeta:focus
			{
				box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
			}

			main .equipos
			{
				display: flex;
				flex-flow: row wrap;
				justify-content: space-around;
			}

				main .equipos .tarjeta
				{
					width: 45%;
					min-width: 250px;
					max-width: 500px;
				}

					main .equipos .tarjeta h3,
					main .equipos .tarjeta>p
					{
						text-align: center;
					}

		/*SVG*/
		main section svg
		{
			margin: 10px auto;
			display: block;
		}

		/*JUEGO*/
		#zona-marcador,
		#zona-campo
		{
			display: flex;
			justify-content: center;
		}

		#zona-campo
		{
			margin: 10px 0;
		}

		#zona-fichas
		{
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
		}

			#zona-fichas>div
			{
				width: 45%;
				min-width: 194px;
				max-width: 268px;

				flex-direction: column;
				justify-content: center;
			}

				#zona-fichas>div>div
				{
					display: flex;
					flex-direction: row;
					justify-content: center;
				}

					#zona-fichas>div>div>img:not(:last-of-type)
					{
						margin-right: 6px;
					}

					#zona-fichas>div>div>button
					{
						margin-top: 10px;
					}

		.equipo-listo
		{
			border: 2px solid #4CAF50;
			box-shadow: 0 1px 3px rgba(76,175,80,0.12), 0 1px 2px rgba(213,0,0,0.24);
			transition: all .3s cubic-bezier(.25,.8,.25,1);
		}
			.equipo-listo:hover,
			.equipo-listo:focus
			{
				box-shadow: 0 14px 28px rgba(76,175,80,0.25), 0 10px 10px rgba(76,175,80,0.22);
			}

		.equipo-incorrecto
		{
			border: 2px solid #D50000;
			box-shadow: 0 1px 3px rgba(213,0,0,0.12), 0 1px 2px rgba(213,0,0,0.24);
			transition: all .3s cubic-bezier(.25,.8,.25,1);
		}
			.equipo-incorrecto:hover,
			.equipo-incorrecto:focus
			{
				box-shadow: 0 14px 28px rgba(213,0,0,0.25), 0 10px 10px rgba(213,0,0,0.22);
			}


		
		/*Article solo con texto */
		main .texto
		{
			/*padding: 10px;*/
			background: transparent;
			box-shadow: none;
			transition: none;
		}
			main .texto:hover
			{
				box-shadow: none;
			}

			main .texto h3
			{
				margin-bottom: 10px;
				text-align: left;
			}

				main .texto p+h3
				{
					margin-top: 30px;
				}

			main .texto p
			{
				text-align: left;
			}

				main .texto p+p,
				main .texto li+li
				{
					margin-top: 10px;
				}

			main .texto>div
			{
				display: flex;
				flex-flow: row wrap;
				justify-content: flex-start;
			}

			main .texto code
			{
				background-color: #BBDEFB;
			}

		/*main section>footer
		{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

			main section>footer p
			{
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
			}*/

/* Footer principal (algunos elementos tienen el suyo propio) */
body>footer
{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	height: 64px;
	background-color: #455A64;
	color: #ECEFF1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
	
	body>footer>p
	{
		text-align: center;
	}










/* ----------------------------------------------- MEDIA QUERIES ----------------------------------------------- */
/*Aparece el fondo*/
@media all and (min-width: 480px)
{
	main
	{
		padding: 10px;
		padding-top: 94px;
	}

		main section
		{
			padding: 10px;
			display: flex;
			flex-direction: column;
		}

			main .tarjeta
			{
				margin: 10px;
			}

			main section .texto
			{
				margin: 0;
				width: 100%;
			}	
}










/* Cambio de header y mas padding en el fondo*/
@media all and (min-width: 650px)
{
	header
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

		header label
		{
			display: none;
		}

		#login-container
		{
			margin: 0;
			border: none;
			padding: 0;
		}

	main
	{
		padding: 30px;
		padding-top: 114px;
	}
}










/* Tarjetas medias ya se reducen */
@media all and (min-width: 768px)
{
	main .medium-card
	{
		max-width: 50%;
	}
}










/* Aun mas padding al fondo */
@media all and (min-width: 1350px)
{
	main
	{
		padding: 114px 140px 30px 140px;
	}
}