/*Estilos para formularios*/
form
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
	form label
	{
		margin-bottom: 6px;
		display: inline-block;
	}
		form input, textarea, select
		{
			margin-bottom: 20px;
			font-family: inherit;
			font-size: 1rem;
		}

		form input[type="text"],
		form input[type="password"],
		form input[type="email"],
		form input[type="date"],
		textarea
		{
			display: inline-block;
			outline: none;
			border: none;
			border-bottom: 2px solid #2196F3;
			width: 100%;
			background: transparent;
			transition: border .3s ease-in-out;
		}
			form input[type="text"]:hover,
			form input[type="password"]:hover,
			form input[type="email"]:hover,
			form input[type="date"]:hover,
			textarea:hover,
			form input[type="text"]:focus,
			form input[type="password"]:focus,
			form input[type="email"]:focus,
			form input[type="date"]:focus,
			textarea:focus
			{
				border-bottom: 2px solid #FFB74D;
			}

		form input[type="submit"],
		select
		{
			outline: none;
			border: none;
			border-radius: 3px;
			padding: 10px;
			background-color: #2196F3;
			color: #ECEFF1;
			transition: all .3s ease-in-out;
		}
			form input[type="submit"]:hover,
			select:hover,
			form input[type="submit"]:active,
			select:active,
			form input[type="submit"]:focus,
			select:focus
			{
				background-color: #FFB74D;
				color: inherit;
			}

		form .boton
		{
			margin-bottom: 10px;
		}

		/*Checkboxes y radio buttons personalizados*/
		form input[type="checkbox"],
		form input[type="radio"]
		{
			display: none;
		}

			form input[type="checkbox"] + label,
			form input[type="radio"] + label
			{
				display: inline-block;
				position: relative;
				border-radius: 3px;
				padding: 5px 10px 5px 29px;
				cursor: pointer;
				transition: all .3s ease-in-out;
			}
				form input[type="checkbox"] + label:hover,
				form input[type="radio"] + label:hover,
				form input[type="checkbox"]:checked + label:hover,
				form input[type="radio"]:checked + label:hover
				{
					background-color: #BBDEFB;
					color: #263238;
				}

				form input[type="checkbox"] + label:before,
				form input[type="radio"] + label:before
				{
					content: "";
					display: inline-block;
					position: absolute;
					left: 10px;
					border: 2px solid #2196F3;
					border-radius: 3px;
					width: 10px;
					height: 10px;
					background: none;
				}

				form input[type="radio"] + label:before
				{
					border-radius: 50%;
				}

				form input[type="checkbox"]:checked + label,
				form input[type="radio"]:checked + label
				{
					padding: 5px 10px;
					background-color: #64B5F6;
					color: #263238;
				}

				form input[type="checkbox"]:checked + label:before,
				form input[type="radio"]:checked + label:before
				{
					display: none;
				}

				/*Para que los enlaces dentro de un custom checkbox/radio button sean visibles*/
				form input[type="checkbox"] + label:hover>a,
				form input[type="radio"] + label:hover>a,
				form input[type="checkbox"]:checked + label>a,
				form input[type="radio"]:checked + label>a
				{
					color: #263238;
					text-decoration: underline;
				}

				form input[type="checkbox"]:checked + label>a,
				form input[type="radio"]:checked + label>a
				{
					color: #263238;
				}










/*Pantallas grandes*/
@media all and (min-width: 480px)
{

}