/*Estilos para formularios*/
form
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
	
	form>div
	{
		width: 84%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}


	form label
	{
		margin-bottom: 6px;
		display: inline-block;
	}
		form input
		{
			margin-bottom: 20px;
			font-family: inherit;
			font-size: 1rem;
		}

		form input[type="text"]
		{
			display: inline-block;
			outline: none;
			border: none;
			border-bottom: 2px solid #2196F3;
			width: 100%;
			background: transparent;
			transition: border .3s linear;
		}
			form input[type="text"]:hover,
			form input[type="text"]:focus
			{
				border-bottom: 2px solid #FFB74D;
			}

		form input[type="submit"]
		{
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			outline: none;
			border: none;
			border-radius: 3px;
			padding: 10px;
			background-color: #2196F3;
			color: #ECEFF1;
			transition: all .3s cubic-bezier(.25,.8,.25,1);
		}
			form input[type="submit"]:hover,
			form input[type="submit"]:active,
			form input[type="submit"]:focus
			{
				box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
				background-color: #FFB74D;
				color: inherit;
			}

		form .boton
		{
			margin-bottom: 10px;
		}

/* Validacion */
.correcto
{
	color: #4CAF50;
	font-weight: bold;
}

.incorrecto
{
	margin: 10px 0;
	text-align: center;
	color: #D50000;
	font-weight: bold;
}

.equipo-listo
{
	border: 2px solid #4CAF50;
	box-shadow: 0 1px 3px rgba(76,175,80,0.12), 0 1px 2px rgba(213,0,0,0.24);
	transition: all .3s cubic-bezier(.25,.8,.25,1);
}
	.equipo-listo:hover,
	.equipo-listo:focus
	{
		box-shadow: 0 14px 28px rgba(76,175,80,0.25), 0 10px 10px rgba(76,175,80,0.22);
	}

.equipo-incorrecto
{
	border: 2px solid #D50000;
	box-shadow: 0 1px 3px rgba(213,0,0,0.12), 0 1px 2px rgba(213,0,0,0.24);
	transition: all .3s cubic-bezier(.25,.8,.25,1);
}
	.equipo-incorrecto:hover,
	.equipo-incorrecto:focus
	{
		box-shadow: 0 14px 28px rgba(213,0,0,0.25), 0 10px 10px rgba(213,0,0,0.22);
	}

.input-incorrecto
{
	border-color: #D50000;
}